name: "Release"

permissions:
  contents: write
  
on:
  release:
    types:
      - "published"

jobs:
  release:
    name: "Release"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v4.1.5"

      - name: "Adjust version number"
        shell: "bash"
        run: |
          yq -i -o json '.version="${{ github.event.release.tag_name }}"' \
            "${{ github.workspace }}/custom_components/quatt/manifest.json"

      - name: "ZIP the integration directory"
        shell: "bash"
        run: |
          cd "${{ github.workspace }}/custom_components/quatt"
          zip quatt.zip -r ./

      - name: "Upload the ZIP file to the release"
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ github.workspace }}/custom_components/quatt/quatt.zip
